<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Course Information</title>
</head>
<body>
    <div id="root">
        <h1>Course Information</h1>
        <h2>Retrieve continuous assessment scores for:</h2>
        <div class="my-courses">
            each val in courseUnique
                .items
                    a(href=`http://localhost:8080/courseinfo/getscore?course=${val}`) #{val}
        </div>
    </div>
</body>
</html>