<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Course Information</title>
</head>
<body>
    <div id="root">
        <h1>Course Information</h1>
        <h2>#{course} - Gradebook</h2>
        <p>You do not have the gradebook for the course: #{course} in the system.</p>
    </div>
</body>
</html>